<a href="https://colab.research.google.com/github/rabbitdd/AlphaBot/blob/master/ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
pulsar_set = pd.read_csv('report.csv')
pulsar_set.head()

          MIP      STDIP      EKIP  ...        EKC          SC  TARGET
0  137.218750  45.390655  0.034985  ...   7.494588   74.003104       0
1   93.773438  41.883062  0.371402  ...  12.242911  180.158844       0
2   73.632812  35.461218  1.153607  ...  10.013591  140.894151       0
3   93.429688  39.883166  0.602060  ...   8.770640  107.970173       0
4  131.625000  44.111896  0.108905  ...   1.689460    1.031847       0

[5 rows x 9 columns]